.grid-container {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
}

.grid-row {
  display: flex; /* Each row will be a flex container */
}

.grid-cell {
  border: 1px solid grey;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}
